<h1 class="title title--h1">
  Classic - Front-end Starter
</h1>
<p class="text text--lead">
  <strong>TODO:</strong> Add some overview here.
</p>
<p class="text">
  {{ 'The following text uses <a class="link" href="https://github.com/M1nified/npm-sierotki">| sierokti</a> TWIG filter to fix orphans in text. Aliquam animi aperiam architecto cupiditate ab deserunt dolor es error ipsam libero minus, neque quasi quidem quisquam totam veniam vero voluptatum? Animi ob excepturi expedita fuga impedit laborum minima, odit soluta? Ad amet animi blanditiis corporis delectus deserunt dignissimos, dolor ducimus esse excepturi illum incidunt laboriosam minus mollitia nam optio porro quam quis, es sapiente tempore vel velit vitae?' | sierotki }}
</p>

<span class="icon">
  <svg><use xlink:href="#icon-arrow-left" /></svg>
</span>
<span class="icon">
  <svg><use xlink:href="#icon-arrow-right" /></svg>
</span>
<span class="icon">
  <svg><use xlink:href="#icon-close" /></svg>
</span>
<span class="icon">
  <svg><use xlink:href="#icon-search" /></svg>
</span>
